*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
h1{
    font-family: 'Dancing Script', cursive;
}
.carousel-item img{
   width: 90%;
   height: 80vh;
}
.card-body img{
    min-width: 50%;
    max-height: 200px;
}
.arrow{
    position: fixed;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}
.arrow i{
    color: black;
    font-size: 30px;
}